@using HiddenVilla_Server.Model

<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=> SelectedAmenityChanged(args, Amenity.Name)">
    <h4 class="text-secondary">Amenity - @Amenity.Id</h4>
    @Amenity.Name <br />
    @Amenity.Description
</div>



@code{
    [Parameter]
    public Amenity Amenity { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    protected async Task SelectedAmenityChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync(name);
    }
}
